<h2>Gains Locker Exists</h2>

<!-- <p>You open positions:</p> -->

<table>

    <th>
        <h3>
            Ticker
        </h3>
    </th>
    <th>
        <h3>
            Asset
        </h3>
    </th>
    <th>
        <h3>
            Long or Short
        </h3>
    </th>
    <th>
        <h3>
            # of Shares
        </h3>
    </th>
    <th>
        <h3>
         Purchase Price per Share ($)
        </h3>
    </th>
    <th>
        <h3>
        Exit Price per Share ($)
        </h3>
    </th>
    <th>
        <h3>
        % Change From Purchase
        </h3>
    </th>
    <th>
        <h3>
        P/L
        </h3>
    </th>
    <th>
        <h3>
            Recalc Frequency
        </h3>
    </th>
    <th>
        <h3>
            Purchase Time / Date
        </h3>
    </th>
    <th>
        <h3>
            Exit Time / Date
        </h3>
    </th>

    <!-- <tr *ngFor="let position in this.positions">
        <h2>hello</h2>
        <td>{{ position.stock }}</td>
        <td>{{ position.stock }}</td>
        <td>{{ position.stock }}</td>
        <td>{{ position.longOrShort }}</td>
    </tr> -->

    <tr *ngFor="let position of positions">
        <td>

            <h2>{{position.stock}}</h2>
        </td>
        <td>
            <h2>{{position.longOrShort}}</h2>
        </td>


    </tr>
    <!-- <debug></debug> -->

    <pre>
        {{positions}}
        <!-- {{JSON.stringify(positions)}} -->
    </pre>

</table>